.pokes {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.pokes .nav {
    display: flex;
    align-items: center;
    justify-content: space-around
}
.pokes .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    overflow: auto;
}