.pokes {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.pokes .nav {
    display: flex;
    align-items: center;
    justify-content: space-around
}
.pokes .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    overflow: auto;
    min-height: 450px;
}
.cell-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cell-link:hover::after {
    content: '🔗';
    font-weight: bold;
    letter-spacing: -0.05rem;
    text-decoration: none;
}
.data-grid {
    flex-grow: 1;
}