$primary-color: purple;
$secondary-color: rgb(17, 121, 110);
$tertiary-color: rgb(35, 125, 125);
$success-color: green;
$info-color: skyblue;
$warning-color: orange;
$danger-color: red;
$light-color: #EEE;
$dark-color: #212121;

.dex {
    &-primary {
        color: $light-color;
        background-color: $primary-color;
        border: solid thin $primary-color;
    }
    &-secondary {
        color: $light-color;
        background-color: $secondary-color;
        border: solid thin $secondary-color;
    }
    &-tertiary {
        color: $light-color;
        background-color: $tertiary-color;
        border: solid thin $tertiary-color;
    }
    &-success {
        color: $light-color;
        background-color: $success-color;
        border: solid thin $success-color;
    }
    &-info {
        color: $dark-color;
        background-color: $info-color;
        border: solid thin $info-color;
    }
    &-warning {
        color: $light-color;
        background-color: $warning-color;
        border: solid thin $warning-color;
    }
    &-danger {
        color: $light-color;
        background-color: $danger-color;
        border: solid thin $danger-color;
    }
    &-button {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        min-width: 5rem;

        &:hover:not(:disabled) {
            cursor: pointer;
        }
    }
    &-solid {
        // TODO
    }

    &-outline {
        background-color: transparent;
    }

    &-link-text {
        background-color: transparent;
        border-color: transparent;
        &:hover {
            text-decoration: underline;
        }
    }
}